html, body{
    height: 100%;
}

#sidebar{
    height: 100%; 
    /* tamaño maximo va hacer toda la pantalla */
    min-height: 100vh;
    /* tamaño minimo es todo lo que tenga la pantalla */
    min-width: 180px;
}



